[SddmGreeterTheme]
Name=MatrixRain
Description=Matrix-style green code rain login
Author=Sebastian Castillo
License=MIT
Type=sddm-theme
Version=1.0
Theme-API=2.0
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=MatrixRain
