[SddmGreeterTheme]
Name=Singularity
Description=Real-time gravitational black hole login (GLSL shader)
Author=Sebastian Castillo
License=MIT
Type=sddm-theme
Version=1.0
Theme-API=2.0
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=Singularity
